@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {}

.flex-1 {
  flex: 1;
}

.h-inherit {
  height: inherit;
}

.flow-column {
  flex-flow: column;
}

.grid {
  border-radius: 5px;
  text-align: center;
  height: 50px;

}

.empty {
  background: #fff;
}

.planta .grid.ocup {
  background: url('https://www.centraldepasajes.com.ar/cdp/img/v5/bus/ocupado.png') center center/30px no-repeat;
  border: 1px solid #ccc;
}

.text {
  background: #efefef;
}

.col5 {
  width: 285px;
  grid-template-columns: repeat(5, 1fr);
}

.volante {
  display: block;
  margin-bottom: 38px;
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
}

.planta {
  position: relative;
  display: grid;
  grid-template-rows: 52px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.planta .grid.ocup a {
  visibility: hidden;
}

.planta .grid.free {
  background: #c3e388;
  border: 1px solid #c3e388
}

.butacas .planta.col5 {
  grid-template-columns: repeat(5, 1fr);
}

.planta_baja {
  padding: 152px 9px 82px 4px;
}

.planta_alta {
  padding: 7px 9px 7px 9px;
}